.stats-details-tabs {
  padding: 10px;
  margin-top: 20px;
}
.stats-details-tabs #tabs {
  background: #007b5e;
  color: #eee;
}
.stats-details-tabs #tabs h6.section-title {
  color: #eee;
}
.stats-details-tabs #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #0062cc;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 3px solid !important;
  font-size: 18px;
  font-weight: bold;
}
.stats-details-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #0062cc;
  font-size: 16px;
  font-weight: 600;
}

.stats-details-tabs .nav-link:hover {
  border: none;
}

.stats-details-tabs thead {
  background: #f3f3f3;
  color: #333;
}

/*
===================================
        The front stats details (table) styles
=====================================
*/
._stats_details {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.stats-details-tabs a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
}

table.team-blockup {
  font-family: Verdana, "Geneva", Tahoma, sans-serif !important;
}

.team-blockup-data p {
  border: 1px solid #ddd;
  margin: 0 auto;
  font-size: 1.5em;
  padding: 0.5em 0;
  text-align: center;
}

.team-blockup .top {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 10px;
  font-family: inherit;
}

.team-blockup-data td div h4 {
  background-color: #ddd;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .team-blockup .top {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: inherit;
  }
}
