{% extends 'base.html' %} {% comment %} {% load custom_filters %} {% endcomment
%} {% load static %} {% block htmlhead %}
<link rel="stylesheet" href="" />
{% endblock htmlhead %}

<!-- ***** Preloader Start ***** -->
{% block content %} {% comment %}
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
{% endcomment %}
<!-- ***** Preloader End ***** -->
{% block content %}
<section class="container mt-5 pt-1">
  <div class="p-2 border mb-2">
    <h1>NCAA BB Team Turnovers per Game</h1>
  </div>

  {% comment %}
  <div class="row">
    <div class="col-lg-6 sidebar-item search">
      <form id="search_form" name="q" method="GET" action="">
        <input
          type="text"
          name="q"
          class="searchText"
          placeholder="type multiple team separated by coma ',' or one team name "
          autocomplete="on"
        />
      </form>
    </div>
  </div>
  {% endcomment %}
  <div class="col-lg-12 mt-3">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">2022</th>
            <th scope="col">Last 3</th>
            <th scope="col">Last 1</th>
            <th scope="col">Home</th>
            <th scope="col">Away</th>
            <th scope="col">2021</th>
          </tr>
        </thead>
        <tbody>
          {% for team in list_team %}
          <tr>
            <th scope="row">{{ team.rank }}</th>
            <td>
              <a href="{% url 'team-details' team.pk %}">{{ team.team }}</a>
            </td>
            <td>{{ team.year_2022 }}</td>
            <td>{{ team.last_3 }}</td>
            <td>{{ team.last_1 }}</td>
            <td>{{ team.home }}</td>
            <td>{{ team.away }}</td>
            <td>{{ team.year_2021 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="p-3">{% include "parts/pagination.html" %}</div>
  </div>
</section>
{% endblock %}
